h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.bg{
<<<<<<< HEAD
  background-image: url("resources/images/the-flatiron-building.png");
=======
  background-image: url("/resources/images/the-flatiron-building.png");
>>>>>>> 3a970f9b2cfa3128ec62073627a62a0f2c756a75
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
h1.design{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.left{
  text-align: left;
  font-family: Helvetica;
  font-size: 50px;
  color: white;
  background-color: dimgray;
}
